<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <style>
        .panel-container .title {
            line-height: 40px;
            font-size: 30px;
            font-weight: bold;
            color: #53382c
        }

        .panel-container div {
            font-size: 20px;
            color: #53382c
        }

        .panel-container .img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="panel-container">
        <div th:text="${'Xin chào, ' + name}"></div>
        <div class="title"> Chúng tôi gửi thông tin truy cập hệ thống của bạn: </div>
        <div th:text="${'- Tên truy cập: ' + username}"></div>
        <div th:text="${'- Mật khẩu truy cập tạm thời: ' + password}"></div>
        <div>Lưu ý: Đây là mật khẩu mặc định được tạo bởi hệ thống!</div>
        <div>Bạn vui lòng đổi lại để đảm bảo an toàn thông tin. </div>
        <div>Đây là email tự động vui lòng không trả lời.</div>
    </div>
</body>

</html>